body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./images/back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* Ensure the body covers the entire viewport height */
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0;
}

.nav-buttons button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: wheat;
  color: #333;
}

.container {
  max-width: 400px;
  margin: 200px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  display: none;
  opacity: 90%;
}

.container h2 {
  margin-top: 0;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.container form button:hover {
  background-color: #fbf7f7;
  color: #333;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Product card styles */
.product-card {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #333;
}

.product-card p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

.product-card button {
  font-size: 18px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #45a049;
}

.product-card .plus-btn,
.product-card .minus-btn {
  font-size: 20px;
  padding: 0 10px;
}

.product-card .quantity {
  font-size: 18px;
  margin: 0 10px;
  color: #555;
}

.dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
  position: relative;
  /* Ensure relative positioning for absolute positioning of close button */
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 400px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}